@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76834088');
  src: url('../font/fontello.eot?76834088#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?76834088') format('woff2'),
       url('../font/fontello.woff?76834088') format('woff'),
       url('../font/fontello.ttf?76834088') format('truetype'),
       url('../font/fontello.svg?76834088#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76834088#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-location:before { content: '\e800'; font-size: 76px; margin-bottom: 15px;} /* '' */
.icon-truck:before { content: '\e801'; font-size: 90px;} /* '' */
.icon-home-outline:before { content: '\e802'; font-size: 76px; margin-bottom: 15px;} /* '' */
.icon-wrench-outline:before { content: '\e805'; font-size: 76px; margin-bottom: 15px;} /* '' */
.icon-twitter:before { content: '\f099'; font-size: 90px; margin-top: 16px;} /* '' */
.icon-facebook:before { content: '\f09a'; font-size: 72px; margin-top: 20px;} /* '' */
.icon-at:before { content: '\f1fa'; font-size: 76px; margin-bottom: 15px;} /* '' */
.icon-map:before { content: '\f279'; font-size: 70px; margin-top: 20px;} /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; font-size: 76px; margin-bottom: 15px;} /* '' */