

/* ==========================================================================
   Author's custom styles
   ========================================================================== 
   
   font-family: 'Lato', sans-serif;
   font-family: 'Open Sans', sans-serif;
   
*/
   

body
{  
   font-family: 'Open Sans', sans-serif;
   font-size: 23px;
   letter-spacing: 1px;
   /*background-color: white;
   background: -webkit-linear-gradient(to left,#e2e2e2,#1c74b2);
   background: -ms-linear-gradient(to left,#e2e2e2,#1c74b2);
   background: -moz-linear-gradient(to left, #e2e2e2,#1c74b2);
   background: -o-linear-gradient(to left, #e2e2e2,#1c74b2);
   background: linear-gradient(to left, #e2e2e2,#1c74b2);
   */
background: -webkit-linear-gradient(to bottom, #E4E5E6, #1c74b2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E4E5E6, #1c74b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   color: black;
   overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

#welcomePage, #transport, #movers, #montage, #contact{
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

#welcomePage
{
   background-image: url("https://i.ibb.co/FBFb5Hq/truck.jpg");
   min-height: 100%;
   color: white;
}


#transport
{
   background-image: url("https://i.ibb.co/30dHH1p/truck1.jpg");
   min-height: 650px;
}

#movers
{
   background-image: url("https://i.ibb.co/vJYQSBk/crop.jpg");
   min-height: 650px;
   
}

#montage
{
   background-image: url("https://i.ibb.co/Gd79Fxj/montaz.jpg");
   min-height: 650px;
   
}
/*
#contact
{
   background-image: url("/img/office.jpg");
   min-height: 350px;
   color:black;  
}
*/
#cooperate
{
   /*background-color: #1c74b2;*/
   color: white;
   font-size: calc(42px + (60 - 42) * (100vw - 768px) / (1440 - 768));
   text-transform: uppercase;
   padding-top: 50px;
   content: " ";
}

article
{
   margin: auto;
}

#logo /* ARKOS TODO  */
{
   
   color: #1c74b2;
   font-size: 100px;
   font-size: 3.5vw;
   display: inline;
   bottom: -20px;
}

#logoIcon
{
   width: auto;
   height: calc(42px + (60 - 42) * (100vw - 768px) / (1440 - 768));
   min-height: 100px;
   display: inline;
   margin-top: 300px;
   margin-bottom: 30px; 
}

#logoIconSmall
{
   width: auto;
   height: 38px;
   display: inline;
   padding-bottom: 8px; 
}

.logoDescription
{
   font-weight: 500;
   margin-bottom: 120px;
   font-size: 32px;
}
#logoDescriptionBold
{
   font-weight: bold;
   
}

.navigation-slide
{
   cursor: pointer;
}

#fontelloIcon
{
   font-size: 25px;
   text-align: center;
   max-width: 1055px;
   margin: auto;
   margin-bottom: 200px;
}

.slideHeader
{
   /*font-size: 45px;*/
   font-size: calc(42px + (60 - 42) * (100vw - 768px) / (1440 - 768));
   text-transform: uppercase;
   margin-top: 200px;
   margin-bottom: 100px;
   color: white;
}

#textHeader
{
   margin-bottom: 20px;
}

.slideHeader hr
{
   /*background: #1c74b2;*/
   background: #83a4d4;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);  
   background: linear-gradient(to left, #b6fbff, #83a4d4); 
   height: 7px;
   text-align: center;
   margin: auto;
   width: 40%;
   top: 20px; 
   opacity: 1;
}

#textHeader hr
{
   /*background: #1c74b2;*/
   background: #83a4d4;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);  
   background: linear-gradient(to left, #b6fbff, #83a4d4); 
   height: 7px;
   text-align: center;
   margin: auto;
   width: 40%;
   top: 20px; 
   opacity: 1;
   margin-bottom: 100px;
}

.description
{
   text-align: justify;
   display: block;
   max-width: 850px;
   margin: auto;
}

.descriptionAfterImg
{
   margin-top: 60px;
}

#descriptionInvite
{
   text-align: center; 
   font-weight: bold;
   font-size: 26px; 
   margin-top: 45px;
   margin-bottom: 45px;
}

.extraDescription{
   
   margin-bottom: 40px; 
   text-align: center; 
}

.imagesSlide
{
   padding-top: 35px;
   margin-bottom: 100px;
}

.imagesSlide img
{
   width: 100%;
	max-height: 250px;
   max-width: auto;
   margin: auto;
}

.imagesCoop img
{
   width: 100%;
	max-height: 100px;
   max-width: 300px;
   margin: auto;
   margin-bottom: 70px;
}

.gutter-2.row {
   margin-right: -1px;
   margin-left: -1px;
 }
 .gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
   padding-right: 3px;
   padding-left: 3px;
   padding-top: 3px;
   padding-bottom: 3px;
 }

.fancybox-nav {
   width: 60px;       
}

.fancybox-nav span {
   visibility: visible;
}

.fancybox-next {
   right: -60px;
}

.fancybox-prev {
   left: -60px;
}

.counter 
{
   font-size: 39px;
   color: #ffffff;
   font-weight: 500;
}

.stat-info h5 
{
   font-size: 19px;
   color: black;
}

.stats,.client,.team 
{
   background: #83a4d4;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4); 
   background: linear-gradient(to left, #b6fbff, #83a4d4); 
}

footer{
   width: 100%;
   height: 34px;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background: rgba(228, 230, 229, .85);
}

footer p 
{
   padding-top:10px; 
   margin-left:10px; 
   font-size:14px;
}

footer span
{
   float: right;
   font-size:13px;
   padding-right:10px;
}

footer a
{
   text-decoration: none;
   font-weight: bolder;
   color: #1c74b2;
}

#socials, #contact, #socials:visited
{
   color: white;
	text-align: center;
	background-color: #191d21;
   margin-bottom: 35px;
}

#socials i
{
   color:white;

}

#fixly img
{
   
   border: 1px solid #555;
}

#fixly
{
   filter: grayscale(100%);
}



.fb:hover
{
	background-color: #4668b3;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
}

.map:hover
{
	background-color: #d94348;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
}

.tw:hover
{
	background-color: #3095d3;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
}

#fixly:hover
{
	background-color: #ffda26;
   transition: 1s all;
   -webkit-transition: 1s all;
   -moz-transition: 1s all;
   -o-transition: 1s all;
   -ms-transition: 1s all;
   filter: grayscale(0%);
}

@media only screen and (max-device-width: 1024px) {
   .fb
   {
      background-color: #4668b3;
   }

   .map
   {
      background-color: #d94348;
   }

   .tw
   {
      background-color: #3095d3;
   }

   #fixly
   {
      background-color: #ffda26;
   }
 }

 .scrollup {
   display: none;
   text-decoration: none;
   position: fixed;
   bottom: 35px;
   right: 2%;
   overflow: hidden;
   z-index: 999; 
   width: 46px;
   height:46px;
   border: none;
   text-indent: 100%;
   background: url(../img/arrow.png) no-repeat 0px 0px;
   }
   #scrollupHover {
   width: 32px;
   height:82px;
   display: block;
   overflow: hidden;
   float: right;
   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);
   }
  
   #headerMenu {
   position: fixed;
   width: 100%;
   z-index: 99;
   top: 9px;
   }
   
   nav.navbar.navbar-expand-lg.navbar-light {
   /*background-color: rgba( 228, 230, 229, .85 );*/
   background-color: #191d21;
   box-shadow: 0px 1px 8px 0px #6f6f6f;
   opacity: 0.91;
   }
   
   .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color:#83a4d4;
   border:none;
   border-bottom:1px solid #fff;
   }

   .navbar-light .navbar-nav .nav-link {
   color: white;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 700;
   margin: 0px 14px;
   border:none;
   border-bottom:2px solid transparent;
   padding: 0px 1px 5px;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
   }

   .navbar-light .navbar-nav .nav-link:focus{
      color:white;
   }
   
   .navbar-light .navbar-nav .nav-link:hover {
   color:gainsboro;
   border:none;
   border-bottom:2px solid #83a4d4;
   }
   .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color:#000;
   border-bottom:2px solid #83a4d4;
   }

   .navbar-brand{
      margin-left: 10px;
   }